telethon==1.36.0
python-dotenv==1.0.1
psycopg2-binary==2.9.9
SQLAlchemy==2.0.32
pandas==2.2.2
dbt-postgres==1.8.2
fastapi==0.112.2
uvicorn==0.30.6
pydantic==2.8.2
ultralytics==8.2.82
dagster==1.8.6
dagster-webserver==1.8.6
pytest==8.3.2
flake8==7.1.1
